[mariadbd]

# REDCap recommendations : Maximum paquet size during communication with client (client must have the same value)
max_allowed_packet=1G
# REDCap recommendations : Optimize some querrys with index: https://mariadb.com/docs/server/ha-and-performance/optimization-and-tuning/query-optimizations/rowid-filtering-optimization
optimizer_switch='rowid_filter=off'
# REDCap recommendations : Store result of select command.
query_cache_size=16777216
# REDCap recommendations : Enabling cache type : https://mariadb.com/docs/server/server-management/variables-and-modes/server-system-variables#query_cache_type
query_cache_type=1
query_cache_limit=16777216

sort_buffer_size=1M
read-rnd-buffer-size=1M

# REDCap Admin perf guide recommendations
innodb_buffer_pool_size=4G
innodb_buffer_pool_instances=8
max_connections=400
innodb_flush_log_at_trx_commit=1
sync_binlog=0

