[mariadbd]
# skip_name_resolve
# explicit_defaults_for_timestamp
# basedir=/opt/bitnami/mariadb
# port=3306
# tmpdir=/opt/bitnami/mariadb/tmp
# socket=/opt/bitnami/mariadb/tmp/mariadb.sock
# pid_file=/opt/bitnami/mariadb/tmp/mariadbd.pid
# max_allowed_packet=16M
# bind_address=0.0.0.0
# log_error=/opt/bitnami/mariadb/logs/mariadbd.log
# slow_query_log=0
# long_query_time=10.0
# character_set_server=utf8mb4
# plugin_dir=/opt/bitnami/mariadb/lib/plugin
# datadir=/bitnami/mariadb/data

# REDCap recommendations
max_allowed_packet=1G
sort_buffer_size=1M
read-rnd-buffer-size=1M

# REDCap Admin perf guide recommendations
innodb_buffer_pool_size=4G
innodb_buffer_pool_instances=8
max_connections=400
innodb_flush_log_at_trx_commit=1
sync_binlog=0


#[client]
#port=3306
#socket=/opt/bitnami/mariadb/tmp/mariadb.sock
#default_character_set=utf8mb4
#plugin_dir=/opt/bitnami/mariadb/lib/plugin
#
#
#[manager]
#port=3306
#socket=/opt/bitnami/mariadb/tmp/mariadb.sock
#pid_file=/opt/bitnami/mariadb/tmp/mariadbd.pid
#